<!DOCTYPE html>
<html>
  <head>
    <title><%= nomeParticipante %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= nomeParticipante %></h1>
    <p>Bem vindo <%= nomeParticipante %></p>
    <p>Email: <%= emailParticipante %></p>
  </body>
</html>
